<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.RoleMenuMapper">
	<select id="getRoleMenuByRid" resultType = "com.entity.RoleMenu">
		select * from rolemenu where rid = #{rid}
	</select>
	
	<delete id="deleteRoleMenuByRid" parameterType = "int">
		delete from rolemenu where rid = #{rid}
	</delete>
	
	<insert id="addRoleMenu">
		insert into rolemenu values 
		(#{rid}, #{menuNum}, null)
	</insert>

</mapper>